__pycache__/
.venv/
output/
.env
.session_data.json
*.pyc
*.pyo
.Python
pip-log.txt
pip-delete-this-directory.txt
*.log
videoids.txt
urls.txt
execute_urls.txt
execute_urls.lock
execute_urls.lock.d/
execute_queue.log
docs_bup/